LOGARIFT_API_HOST=0.0.0.0
LOGARIFT_API_PORT=8080
LOGARIFT_MONGODB_URI=mongodb://mongodb:27017
LOGARIFT_MONGODB_DATABASE=logarift
LOGARIFT_MONGODB_CONNECT_TIMEOUT_MS=5000
LOGARIFT_MATH_ENGINE_URL=http://math-engine:8090
LOGARIFT_MATH_ENGINE_PORT=8090
LOGARIFT_EXPORT_DIR=/var/lib/logarift/exports
LOGARIFT_READINESS_TIMEOUT_MS=2000
LOGARIFT_SHUTDOWN_TIMEOUT_MS=5000
